#header {
    border:10px solid darkred;
    background-color:red;
    text-align:center;
    border-radius:10%;
    margin:50px;
}
.pictures {
    text-align:center;
    margin:0 auto;
    display: block;
}
.buttons {
    text-align:center;
    width:75px;
    height:50px;
    border:3px solid blue;
    border-radius:10%;
    margin:0 auto;
    display: block;
}
.container {
    width:33%;
    display:inline-block;
    text-align:center;
}
#footer {
    border: 10px solid darkred;
    background-color:red;
    text-align:center;
    border-radius:10%;
    margin:50px;
}
.results {
    font-size:50px;
    color:red;
    text-align:center;
}